.modal-container {
  opacity: 1;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 40px;
  width: 500px;
  max-width: 100%;
}
.form {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;

}
.form:focus {
  outline: none;
}

.error {

  color: red;
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 20px;
}

form h4 {
  font-weight: normal;
}


